body{
	margin: 0;
	/*background: #999;*/
	width: 100%;
/*	background-image: url('lampPost.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	/*height: auto;*/
	background: -webkit-linear-gradient(5deg, rgb(153, 153, 153), rgb(0, 0, 0));
	background: linear-gradient(5deg, rgb(153, 153, 153), rgb(0, 0, 0));


}

header{
	margin: 0;
	padding: 0;
	background: #888;
}

nav ul{
	margin: 0;
	padding: 5px;
	text-align: right;
	background: #595959;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 500;
}


nav ul li {	
	display: inline-block;
	padding: 10px 45px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}

nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
nav ul li a:hover{
	color: gray;
	text-transform: uppercase;
}

.container{
	width:100%;
	height: 100%;
	overflow:hidden;
	margin: 0;
	padding: 0;

}
#Home{
	width: 100%;
	height: 1000px;
	background: url(space2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#Home h1{
	text-align: center;
	padding-top: 20%;
	padding-right: 3%;
	font-size: 40px;
	color: white;
	font-family: Open Sans, Arial;
	overflow: hidden;

}

/*#home img{
	width: 100%;
	height: 100%;
}*/


#Home .fly-in-text{
	list-style: none;
    position: absolute;
    left: 48%;
    top: 32%;
    transform: translateX(-50%) translateY(-50%)

}
#Home .fly-in-text li {
                display: inline-block;
                margin-right: 50px;
                font-family: Open Sans, Arial;
                font-weight: 300;
                font-size: 4.5em;
                color: #fff;
                opacity: 1;
                transition: all 2.5s ease;
}
#Home .fly-in-text li:last-child {
                margin-right: 0;
            }
#Home .fly-in-text.hidden li {
                opacity: 0;
            }
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }


#About{
	height: 100%
	width: 100%;
	overflow:hidden;
	/*background: #333;*/
}
#About h2{
	text-align: center;
	font-size: 75px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}
#About .col-xs-4 img{
	width: 100%;
	padding: 30px;
	margin: 0%;
	height: 100%;
}

#About .col-xs-5{
	margin: 0;
	
	padding: 20px ;
	padding-left: 5%;
	float:center;
	text-align: left;
	color: #999;
	font-size: 25px;
	/*width: 50%;*/
	/*background: 111;*/

}

#Skills{
	height: 100%;
	width:100%;
	overflow:hidden;
	/*background: #666;*/
}
#Skills h2{
	text-align: center;
	font-size: 75px;
	/*text-decoration: underline;*/
	border-style: solid;
	border-radius: 12px;
	margin: 4% 10% 3% 10%;
	background:#C0C0C0;
}

#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
}

#Skills .col-xs-4 ul{
	list-style-type: none;
}

#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 2px solid black;
	border-style: dashed;
	border-radius: 12px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	margin: 5px;
	background: #999
}

#Skills .col-xs-4 ul li:hover{
	text-decoration: underline;
	font-weight: bold;
	background: white;
}
.Findings{
	width:100%;
	height: 100%;
	/*background: #999;*/
	overflow:hidden;
	margin: 0;
	padding: 0;
	background: white;
}
#UserResearch{
	height:100%;
	width: 100%;
	/*background: white;*/
}
#UserResearch h1{
	margin: 60px 0 0 0;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#UserResearch h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
#UserResearch .col-xs-6 h4{
	margin: 20px 0 0 0;
	padding: 0;
	padding-left: 16%;
	text-decoration: underline;
	width: 100%;

	/*background: white;*/
}

#UserResearch .col-xs-6 p{
	margin: 40px auto;
	width: 80%
	/*padding: 0;*/
	/*padding: 10%;*/
/*	padding-left: 15%;*/
	/*text-align; center;*/
}

#UserTesting{
	height:100%;
	width: 100%;
	/*background: white;*/
}
#UserTesting h1{
	margin: 80px 0 0 0;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#UserTesting h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
 #UserTesting .col-xs-6 h4{
	margin: 20px 0 0 0;
	padding: 0;
	padding-left: 16%;
	text-decoration: underline;
	width: 100%;
}
#UserTesting .col-xs-6 p{
	margin: 10px auto;
	width: 80%;
}
#SummaryFindings{
	height:100%;
	width: 100%;
	/*background: white;*/

}
#SummaryFindings h1{
	margin: 60px 0 0 0;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#SummaryFindings h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
 #SummaryFindings p{
	margin: 10px auto;
	width: 75%;
}
#Incorporation{
	height:100%;
	width: 100%;
	/*background: white;*/

}
#Incorporation h1{
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#Incorporation h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
 #Incorporation p{
	margin: 10px auto;
	width: 75%;
}


#Contact{
	height:100%;
	width: 100%;
	overflow:hidden;
	/*background: #999;*/
	text-align: center;
	padding: 20px;
}


#Contact ul{
	display: flex;
	text-align: center;
	position: absolute;
	left: 40%
}
#Contact ul li{
	margin: 10px;
	list-style: none;
	font-size: 30px;
	transition: .5s;
}
#Contact ul li a{
	width: 60px;
	padding: 16px 0;
	display: block;
}
#Contact .resume{
	color: #31A6FF;
	text-decoration: inherit;
	font-size: 40px;
	border: solid 3px #31A6FF;
	border-radius: 50px;
	padding: 10px 50px;
	background-color: #f7f7f7;
}
#Contact .resume:hover{
	background-color: #31A6FF;
	color: white;
}

@media screen and (max-width: 1000px){

nav ul li {	
	display: inline-block;
	padding: 10px 25px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}
#About h2{
	text-align: center;
	font-size: 60px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}

#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 16px;
}

#Skills{
	height: 100%;
	width:100%;
	overflow:hidden;
	background: #666;
}
#Skills h2{
	text-align: center;
	font-size: 40px;
	/*text-decoration: underline;*/
	border-style: solid;
	border-radius: 12px;
	margin: 4% 10% 3% 10%;
	background:#C0C0C0;
}
#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
	margin:0;
	font-size: 20px;
}
#Skills .col-xs-4 ul{
	list-style-type: none;

}

#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 2px solid black;
	border-style: dashed;
	border-radius: 12px;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	margin: 5px;
	background: #999;

}
#Contact{
	height:100%;
	width: 100%;
	overflow:hidden;
	background: #999;
}
/*#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 32% 4% 32%;
	font-size: 40px;
}*/

}
@media screen and (max-width: 550px){

nav ul li {	
	display: inline-block;
	padding: 10px 20px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}
#About h2{
	text-align: center;
	font-size: 38px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}

#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 12px;
}

#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
	font-size: 14px;
}

#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 2px solid black;
	border-style: dashed;
	border-radius: 12px;
	/*padding: 5px;*/
	text-align: left;
	font-size: 10px;
	/*margin: 5px;*/
	background: #999
}
#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 32% 4% 32%;
	font-size: 23px;
}

#Contact .col-xs-4 a{
	font-size: 14px;
	margin: 0;
	color: blue;
}
}

@media screen and (min-width: 1450px){
#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 35px;
}
}

@media screen and (max-width: 360px){

nav ul li {	
	display: inline-block;
	padding: 10px 25px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}
#About h2{
	text-align: center;
	font-size: 28px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}

#About .col-xs-6{
	margin: 0;
	padding: 15px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 12px;
	width:100%;
}
#Skills h2{
	text-align: center;
	font-size: 30px;
	/*text-decoration: underline;*/
	border-style: solid;
	border-radius: 12px;
	margin: 4% 10% 3% 10%;
	background:#C0C0C0;
}

#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
}
#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 1px solid black;
	border-style: dashed;
	border-radius: 12px;
	padding: 5px;
	text-align: left;
	font-size: 8px;
	/*margin: 5px;*/
	background: #999
}	
#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 32% 4% 32%;
	font-size: 20px;
}

#Contact .col-xs-4 a{
	font-size: 10px;
	margin: 0;
	color: blue;
}


}