body{
	margin: 0;
	/*background: #999;*/
	width: 100%;
/*	background-image: url('lampPost.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	/*height: auto;*/

background: -webkit-linear-gradient(5deg, rgb(153, 153, 153), rgb(0, 0, 0));
background: linear-gradient(5deg, rgb(153, 153, 153), rgb(0, 0, 0));


}

header{
	margin: 0;
	padding: 0;
	background: #888;
}
/*.stuck{
	position:fixed;
	z-index: 100;
	width: 100%
	top:0;
}*/

/*nav h1{
	margin: 0;
	padding: 4% 0 0 0;
	padding: 0;
	color: white;
	background: #595959;
	width:100%;
}
*/

nav ul{
	margin: 0;
	padding: 5px;
	text-align: right;
	background: #595959;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 500;
}


nav ul li {	
	display: inline-block;
	padding: 10px 45px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}

nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
nav ul li a:hover{
	color: gray;
	text-transform: uppercase;
}
img{
	width:100%;
}
.container{
	width:100%;
	height: 100%;
	/*background: #999;*/
	overflow:hidden;
	margin: 0;
	padding: 0;

}

#About{
	height: 100%
	width: 100%;
	overflow:hidden;
	/*background: #333;*/
}
#About h2{
	text-align: center;
	font-size: 75px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}
#About .col-xs-5 img{
	width: 100%;
	padding: 10px;
	margin: 0%;
}

#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 25px;
	/*width: 50%;*/
	/*background: #999;*/
}

#Skills{
	height: 100%;
	width:100%;
	overflow:hidden;
	/*background: #666;*/
}
#Skills h2{
	text-align: center;
	font-size: 75px;
	/*text-decoration: underline;*/
	border-style: solid;
	border-radius: 12px;
	margin: 4% 10% 3% 10%;
	background:#C0C0C0;
}

#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
}

#Skills .col-xs-4 ul{
	list-style-type: none;
}

#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 2px solid black;
	border-style: dashed;
	border-radius: 12px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	margin: 5px;
	background: #999
}

#Skills .col-xs-4 ul li:hover{
	text-decoration: underline;
	font-weight: bold;
	background: white;
}
.Findings{
	width:100%;
	height: 100%;
	/*background: #999;*/
	overflow:hidden;
	margin: 0;
	padding: 0;
	background: white;
}
#UserResearch{
	height:100%;
	width: 100%;
	/*background: white;*/
}
#UserResearch h1{
	margin: 60px 0 0 0;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#UserResearch h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
#UserResearch .col-xs-6 h4{
	margin: 20px 0 0 0;
	padding: 0;
	padding-left: 16%;
	text-decoration: underline;
	width: 100%;

	/*background: white;*/
}

#UserResearch .col-xs-6 p{
	margin: 40px auto;
	width: 80%
	/*padding: 0;*/
	/*padding: 10%;*/
/*	padding-left: 15%;*/
	/*text-align; center;*/
}

#UserTesting{
	height:100%;
	width: 100%;
	/*background: white;*/
}
#UserTesting h1{
	margin: 80px 0 0 0;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#UserTesting h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
 #UserTesting .col-xs-6 h4{
	margin: 20px 0 0 0;
	padding: 0;
	padding-left: 16%;
	text-decoration: underline;
	width: 100%;
}
#UserTesting .col-xs-6 p{
	margin: 10px auto;
	width: 80%;
}
#SummaryFindings{
	height:100%;
	width: 100%;
	/*background: white;*/

}
#SummaryFindings h1{
	margin: 60px 0 0 0;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#SummaryFindings h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
 #SummaryFindings p{
	margin: 10px auto;
	width: 75%;
}
#Incorporation{
	height:100%;
	width: 100%;
	/*background: white;*/

}
#Incorporation h1{
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;

}
#Incorporation h1:after {
     background: none repeat scroll 0 0 #999;
     padding: 0;
     bottom: -10px;
     content: "";
     display: block;
     height: 1px;
     position: relative;
     /*padding-right: 15%*/
     width: 100%;
 }
 #Incorporation p{
	margin: 10px auto;
	width: 75%;
}


#Contact{
	height:100%;
	width: 100%;
	overflow:hidden;
	/*background: #999;*/
}
#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 35% 4% 35%;
	border-style: solid;
	border-radius: 12px;
	font-size: 56px;
}
#Contact .col-xs-4 a{
	font-size: 32px;
	margin: 0;
	color: blue;
}


@media screen and (max-width: 1000px){

nav ul li {	
	display: inline-block;
	padding: 10px 25px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}
#About h2{
	text-align: center;
	font-size: 60px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}

#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 16px;
}

#Skills{
	height: 100%;
	width:100%;
	overflow:hidden;
	background: #666;
}
#Skills h2{
	text-align: center;
	font-size: 40px;
	/*text-decoration: underline;*/
	border-style: solid;
	border-radius: 12px;
	margin: 4% 10% 3% 10%;
	background:#C0C0C0;
}
#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
	margin:0;
	font-size: 20px;
}
#Skills .col-xs-4 ul{
	list-style-type: none;
}

#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 2px solid black;
	border-style: dashed;
	border-radius: 12px;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	margin: 5px;
	background: #999
}
#Contact{
	height:100%;
	width: 100%;
	overflow:hidden;
	background: #999;
}
#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 32% 4% 32%;
	font-size: 40px;
}

#Contact .col-xs-4 a{
	font-size: 25px;
	margin: 0;
	color: blue;
}
}
@media screen and (max-width: 550px){

nav ul li {	
	display: inline-block;
	padding: 10px 20px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}
#About h2{
	text-align: center;
	font-size: 38px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}

#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 12px;
}

#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
	font-size: 14px;
}

#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 2px solid black;
	border-style: dashed;
	border-radius: 12px;
	/*padding: 5px;*/
	text-align: left;
	font-size: 10px;
	/*margin: 5px;*/
	background: #999
}
#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 32% 4% 32%;
	font-size: 23px;
}

#Contact .col-xs-4 a{
	font-size: 14px;
	margin: 0;
	color: blue;
}
}

@media screen and (min-width: 1450px){
#About .col-xs-6{
	margin: 0;
	padding: 20px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 35px;
}
}

@media screen and (max-width: 360px){

nav ul li {	
	display: inline-block;
	padding: 10px 25px 10px 0px;
	list-style: none;
	text-align: center;
	position: right;
}
#About h2{
	text-align: center;
	font-size: 28px;
	background: gold;
	border-radius: 12px;
	margin: 2% 20% 2% 20%;
	padding: 5px;
}

#About .col-xs-6{
	margin: 0;
	padding: 15px ;
	float:right;
	text-align: left;
	color: #999;
	font-size: 12px;
	width:100%;
}
#Skills h2{
	text-align: center;
	font-size: 30px;
	/*text-decoration: underline;*/
	border-style: solid;
	border-radius: 12px;
	margin: 4% 10% 3% 10%;
	background:#C0C0C0;
}

#Skills .col-xs-4 h3{
	font-style: oblique;
	text-decoration: underline;
	text-align: center;
}
#Skills .col-xs-4 ul li{
	display: inline-block;
	border: 1px solid black;
	border-style: dashed;
	border-radius: 12px;
	padding: 5px;
	text-align: left;
	font-size: 8px;
	/*margin: 5px;*/
	background: #999
}	
#Contact h2{
	text-align: center;
	background: white;
	margin: 4% 32% 4% 32%;
	font-size: 20px;
}

#Contact .col-xs-4 a{
	font-size: 10px;
	margin: 0;
	color: blue;
}


}